/* Header */

header{
	width: 100%;
	background-color: #255A88;
	position: fixed; 
	top: 0;
	z-index: 1000;
	padding: 15px 0 8px 0;
}
.logo{
	width: 350px;
	height: 35px;
	float: left;
	position: fixed;
	margin-top: 15px;
	background: url("../images/Kremlin.svg") no-repeat;
}

nav{
	float: right; 
}

nav ul{
	list-style-type: none;
	text-align: right;
}


nav li{
	font-family: 'Carrois Gothic SC', sans-serif;
	display: inline-block;
	font-size: .8em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-left: 20px;
	cursor: pointer;
}

nav li a:link{
	color: #ffffff;
	text-decoration: none;
}

nav li a:visited{
	color: #ffffff;
}

nav li a:hover{
	color: #ff6600;
	text-decoration: underline;
}

nav li a:active{
	color: #ff6600;
}

.section-head{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
} 

.section-copy{
	text-align: center; 
	font-size: 1.2em;
}

/* Hero image */
.hero-overlay{
	position: absolute;
	top: 236px;
	height: 550px;
	width: 940px;
	z-index: 100;
	background-repeat: no-repeat;
	background-position: bottom;
	overflow: visible;
	margin-left: -300px;
}

.hero-image{
	width: 100%;
	max-height: 980px;
	overflow: hidden;
	}



.hero-headline{
	text-align: center;
	text-transform: uppercase;
	color: #FCFCFC;
	text-shadow: 2px 2px 1px #000000; 
}

.hero-btn{
	margin: 30px auto;
	padding: 100px 100px 0 400px;
}

.hero-btn a:link{
	color: #ffffff;
	border-radius: 15px;
	background-color: #B71616;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase; 
	text-align: center; 
}

.hero-btn a:visited {
	color: #ffffff;
	text-decoration: none;
}

.hero-btn a:hover {
	color: #ff6600;
	text-decoration: none;
}

.hero-btn a:active {
	color: #ff6600;
	text-decoration: none;
}

/* History */
.history{
	width: 100%;
	padding: 100px 0 100px 0;
	background: rgb(214,196,205);
    background: linear-gradient(180deg, rgba(214,196,205,1) 0%, rgba(255,218,175,1) 100%);
}

/* Testimonials */
.testimonials{
	width: 100%;
	padding: 100px 0;
	background: rgb(234,184,135);
    background: linear-gradient(180deg, rgba(234,184,135,1) 0%, rgba(255,218,175,1) 100%);
}

.testimonials img {
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 50%;
	align-content: center;
	margin-left: 85px;
}

.testimonial-text{
	font-family: 'fira sans', 'sans-serif'; 
	text-align: center;
	padding: 10px 20px;
}


/* Importance*/
.importance{
	width: 100%;
	padding: 100px 0;
	background: rgb(234,184,135);
    background: linear-gradient(180deg, rgba(234,184,135,1) 0%, rgba(255,218,175,1) 100%);
}

.info-box {
	background-color: #EAE1E1;
	height: 540.97px;
	width: 300px;
}

.info-text{
	font-family: 'fira sans', 'sans-serif'; 
	text-align: center;
	padding: 10px 20px;
	
}

.info-link{
	font-size: .7em;
	letter-spacing: .09em;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
}

.importance img{
	height: 187.438px;
	width: 300px;
}

.info-subhead{
	font-family: 'Buenard', 'serif';
	text-align: center;
	margin-top: 0;
}

/* Culture */
.culture{
	padding: 100px 0;
	width: 100%;
	background: rgb(234,184,135);
    background: linear-gradient(180deg, rgba(234,184,135,1) 0%, rgba(255,218,175,1) 100%);
}

.culture-box {
	background-color: #EAE1E1;
	height: 620.97px;
	width: 300px;
}

.culture-subhead{
	font-family: 'buenard', 'serif';
	text-align: center;
	font-size: 1.7em;
	margin-top:0;
	margin-bottom: 20px;
}

.info-text{
	font-family: 'fira sans', 'sans-serif'; 
	text-align: center;
	padding: 10px 20px;
	
}

.culture-box img{
	height: 200px;
}


/* Sites to See */

.sites{
	width: 100%;
	padding: 100px 0;
	background: rgb(214,196,205);
    background: linear-gradient(180deg, rgba(214,196,205,1) 0%, rgba(255,218,175,1) 100%);
}

.sites img{
	width: 220px;
	height: 185.48px;
	margin-bottom: 0px;
	margin-left: 20px;	
}




.features-subhead{
	text-align: left;
	margin-left: 60px;
	margin-bottom: 5px;
}

.features-copy{
	margin-bottom: 20px;
	margin-left: 60px;
	text-align: left;
}



/* Landmarks */
.landmarks{
	width: 100%;
	padding: 100px 0;
	background: rgb(214,196,205);
    background: linear-gradient(180deg, rgba(214,196,205,1) 0%, rgba(255,218,175,1) 100%);
}



.btn{
	margin: 30px auto;
	font-family: 'fira sans', 'sans-serif';
}

.btn a:link{
	border-radius: 15px;
	background-color: #B71616;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase; 
	text-align: center; 
	color: #FFFFFF;
}

.btn a:visited {
	color: #ffffff;
	text-decoration: none;
}

.btn a:hover {
	color: #ff6600;
	text-decoration: none;
}

.btn a:active {
	color: #ff6600;
	text-decoration: none;
}
.btn1{
	margin: 55px auto;
	font-family: 'fira sans', 'sans-serif';
	
}

.btn1 a:link{
	border-radius: 15px;
	background-color: #B71616;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase; 
	text-align: center; 
	color: #FFFFFF;
}

.btn1 a:visited {
	color: #ffffff;
	text-decoration: none;
}

.btn1 a:hover {
	color: #ff6600;
	text-decoration: none;
}

.btn1 a:active {
	color: #ff6600;
	text-decoration: none;
}
.btn2{
	margin: 55px auto;
	font-family: 'fira sans', 'sans-serif';
	
}

.btn2 a:link{
	border-radius: 15px;
	background-color: #B71616;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase; 
	text-align: center; 
	color: #FFFFFF;
}

.btn2 a:visited {
	color: #ffffff;
	text-decoration: none;
}

.btn2 a:hover {
	color: #ff6600;
	text-decoration: none;
}

.btn2 a:active {
	color: #ff6600;
	text-decoration: none;
}
	
/* Locations */
.location{
	width: 100%;
	padding: 100px 0;
	background: rgb(234,184,135);
    background: linear-gradient(180deg, rgba(234,184,135,1) 0%, rgba(255,218,175,1) 100%);
}

.location img{
	margin-bottom: 10px;
	
}

.map{
	align-content: center;
	margin-left: 70px;
}

/* Support */
.support{
	width: 100%;
	padding: 100px 0;
	background: rgb(214,196,205);
    background: linear-gradient(180deg, rgba(214,196,205,1) 0%, rgba(255,218,175,1) 100%);
}

.support img{
	height: 350px;
}

.contact-form input[type="text"], 
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
	width: 460px;
	height: 35px;
	margin-bottom: 25px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #dadada;
	color: #888888;
	font-weight: 100;
}

.contact-form textarea{
	height: 200px;
}

.city{
	text-transform: uppercase;
	font-weight: 900;
	
}

/* Footer */ 
footer{
	width: 100%;
	padding: 50px 0 20px 0;
	text-align: center;
	background-color: #255A88;
}

footer a:link {
	color: #ffffff;
	text-decoration: none;
}

footer a:visited {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	color: #ff6600;
	text-decoration: none;
}

footer a:active {
	color: #ff6600;
	text-decoration: none;
}

.copyright{
	width: 100%;
	color: #ffffff;
}
.copyright img{
	height: 80px;
	width: 72px;
	margin-bottom: 10px;
}

.copyright p{
	margin-bottom: 10px;
}

.fa-linkedin,
.fa-twitter-square,
.fa-facebook-square{
	font-size: 2em;
	margin: 5px 5px 10px 5px;
	color: #ffffff;
}

.fa-linkedin:hover,
.fa-twitter-square:hover,
.fa-facebook-square:hover{
	color: #ff6600;
}

/* Desktop and Laptops */
@media only screen and (min-width: 1224px) {
	
	video{
		width: 100%
	}
	
}

/* Footer */
.second{
	background: rgb(214,196,205);
    background: linear-gradient(180deg, rgba(214,196,205,1) 0%, rgba(255,218,175,1) 100%);
	padding: 20px 0 0;
	
}

.second p{
	color: #888888;
	
}








